parameters:
    level: 7
    paths:
        - public/
        - src/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    editorUrl: 'vscode://vscode-remote/wsl+Debian/path/to/your/project//%%relFile%%:%%line%%'
    tmpDir: ./var/.phpstan.tmp
