parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    tmpDir: ./var/.phpstan.tmp
