{% extends 'base.html.twig' %}

{% set title = 'trips.label'|trans %}

{% block body %}
    <div class="app-page-header">
        <twig:Heading1 :title="title" />
        <twig:Button:New href="{{ path('app.trip.new') }}" />
    </div>

    <twig:Trip:Form:Search :form="form" />

    {% block trip_results %}
        <turbo-frame id="trip_results">
            <twig:Trip:IndexTable :trips="pager" />
            <twig:AppPagination :pager="pager" />
        </turbo-frame>
    {% endblock %}
{% endblock %}
