{% extends 'base.html.twig' %}

{% set title = 'trip.new.label'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="heading-1">
      {{- title -}}
    </h1>

    <twig:Trip:Form :form="form" />
    <twig:Button:Trip:BackToIndex />
{% endblock %}
