{% extends 'base.html.twig' %}

{% set title = 'trip.label'|trans %}

{% block body %}
    <twig:Trip:Card :trip="trip" />

    <div class="my-6">
        <twig:Trip:BackToIndexButton />
    </div>

    {% if is_granted('EDIT', trip) %}
        <twig:Turbo:Frame
            id="{{ constant('App\\Turbo\\Frame\\TripFrameId::SURF_SESSIONS') }}"
            src="{{ path('app.trip.surf_sessions', {id: trip.id}) }}"
            loading="lazy"
        >
            <twig:Spinner />
        </twig:Turbo:Frame>
    {% endif %}
{% endblock %}
