{%- props locationField -%}

<div class="app-row"
    data-controller="location-autocomplete"
    data-location-autocomplete-api-key-value="{{ mapbox_public_api_key }}"
    data-location-autocomplete-no-results-text-value="{{ 'location.no_results'|trans }}"
>
    {{ form_row(locationField) }}
</div>
