<label class="{{ 'app-switch-label ' ~ attributes.render('class')|tailwind_merge }}">
    <input type="checkbox" class="app-switch-input peer" {{ attributes }}>
    <div class="app-switch-div"></div>
</label>
