<label class="{{ 'ui-form-switch-label ' ~ attributes.render('class')|tailwind_merge }}">
    <input type="checkbox" class="ui-form-switch-input peer" {{ attributes }}>
    <div class="ui-form-switch-div"></div>
</label>
