<form method="post"
      action="{{ path('app.surf_session.delete', {id: surf_session.id}) }}"
      onsubmit="return confirm('{{ 'surf_session.delete.confirm'|trans }}');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ surf_session.id) }}">
    <twig:Button:Delete />
</form>
