@layer components {
    .app-btn {
        @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive;
    }

    .app-btn-default {
        @apply bg-primary text-primary-foreground hover:bg-primary/90;
    }

    .app-btn-secondary {
        @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
    }

    .app-btn-destructive {
        @apply bg-destructive text-destructive-foreground hover:bg-destructive/90 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60;
    }

    .app-btn-outline {
        @apply border bg-background shadow-xs hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50;
    }

    .app-btn-ghost {
        @apply hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50;
    }

    .app-btn-link {
        @apply text-primary underline-offset-4 hover:underline;
    }

    .app-btn-md {
        @apply h-9 px-4 py-2 has-[>svg]:px-3;
    }

    .app-btn-sm {
        @apply h-8 rounded-md gap-1.5 px-3 has-[>svg]:px-2.5;
    }

    .app-btn-lg {
        @apply h-10 rounded-md px-6 has-[>svg]:px-4;
    }

    .app-btn-icon {
        @apply size-9;
    }

    .app-btn-icon-sm {
        @apply size-8;
    }

    .app-btn-icon-lg {
        @apply size-10;
    }
}

.app-btn[disabled] {
    pointer-events: none;
}
