@layer components {
    .ui-table-wrapper {
        @apply relative w-full overflow-auto mb-4;
    }

    .ui-table {
        @apply w-full caption-bottom text-sm;
    }

    .ui-table-body {
        @apply [&_tr:last-child]:border-0;
    }

    .ui-table-caption {
        @apply mt-4 text-sm text-muted-foreground;
    }

    .ui-table-cell {
        @apply p-4 align-middle [&:has([role=checkbox])]:pr-0;
    }

    .ui-table-footer {
        @apply border-t bg-muted/50 font-medium [&>tr]:last:border-b-0;
    }

    .ui-table-head {
        @apply h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0;
    }

    .ui-table-header {
        @apply [&_tr]:border-b;
    }

    .ui-table-row {
        @apply border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted;
    }
}
