<div class="flex items-center ml-2 space-x-2" data-controller="dark-mode">
    <twig:Form:Switch id="dark-mode" class="peer-checked:bg-background" data-action="dark-mode#toggle" />
    <twig:Form:Label for="dark-mode">
        <span data-dark-mode-target="label">
            {{- 'dark_mode.label'|trans -}}
        </span>
    </twig:Form:Label>
</div>
