<div class="flex items-center space-x-2" data-controller="dark-mode">
    <twig:Form:Switch id="dark-mode" data-action="dark-mode#toggle" />
    <twig:Form:Label for="dark-mode">
        <span data-dark-mode-target="label">Mode sombre</span>
    </twig:Form:Label>
</div>
