@import "tailwindcss";
@import "./tom-select";
@source not "../../public";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.58 0.15 210);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.95 0.04 205);
    --secondary-foreground: oklch(0.32 0.07 220);
    --muted: oklch(0.95 0.03 205);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.91 0.07 195);
    --accent-foreground: oklch(0.32 0.07 220);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.58 0.14 205);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.58 0.15 210);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.95 0.04 205);
    --sidebar-accent-foreground: oklch(0.32 0.07 220);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.58 0.14 205);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.79 0.12 205);
    --primary-foreground: oklch(0.24 0.06 225);
    --secondary: oklch(0.29 0.06 210);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.29 0.05 210);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.33 0.08 200);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.63 0.12 205);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.63 0.13 205);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.29 0.06 210);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.63 0.12 205);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .app-container {
        @apply max-w-6xl px-2 sm:px-4 lg:px-6 mx-auto;
    }

    /** Table */

    .ui-table-wrapper {
        @apply relative w-full overflow-auto mb-4;
    }

    .ui-table {
        @apply w-full caption-bottom text-sm;
    }

    .ui-table-body {
        @apply [&_tr:last-child]:border-0;
    }

    .ui-table-caption {
        @apply mt-4 text-sm text-muted-foreground;
    }

    .ui-table-cell {
        @apply p-4 align-middle [&:has([role=checkbox])]:pr-0;
    }

    .ui-table-footer {
        @apply border-t bg-muted/50 font-medium [&>tr]:last:border-b-0;
    }

    .ui-table-head {
        @apply h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0;
    }

    .ui-table-header {
        @apply [&_tr]:border-b;
    }

    .ui-table-row {
        @apply border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted;
    }

    /** Form */

    .ui-form-row {
        @apply mb-4;
    }

    .ui-form-input {
        @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
    }

    .ui-form-textarea {
        @apply flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;
    }

    .ui-form-select {
        @apply flex h-10 w-full items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background data-[placeholder]:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1;
    }

    .ui-form-checkbox {
        @apply size-4 inline-block align-middle accent-primary;
    }

    .ui-form-label {
        @apply flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50;
    }

    .ui-form-switch-label {
        @apply relative inline-flex items-center cursor-pointer;
    }

    .ui-form-switch-input {
        @apply sr-only absolute inset-0 w-full h-full cursor-pointer;
    }

    .ui-form-switch-div {
        @apply pointer-events-none w-11 h-6 bg-input rounded-full peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary peer-disabled:opacity-50 peer-disabled:cursor-not-allowed;
    }

    /* Titles */

    .heading-1 {
        @apply text-3xl md:text-4xl font-bold tracking-tight text-foreground
           mb-6;
    }

    .heading-2 {
        @apply text-2xl md:text-3xl font-semibold tracking-tight text-foreground
           mt-10 mb-4;
    }

    .heading-3 {
        @apply text-xl md:text-2xl font-semibold text-foreground
           mt-6 mb-2;
    }
}
