<div class="flex flex-col gap-2">
    <twig:Button as="a" size="sm" href="{{ path('app.trip.show', {id: trip.id}) }}">
        <twig:ux:icon name="lucide:eye" />
        {{- 'show.label'|trans -}}
    </twig:Button>
    <twig:Button as="a" size="sm" href="{{ path('app.trip.edit', {id: trip.id}) }}">
        <twig:ux:icon name="lucide:edit-2" />
        {{- 'edit.label'|trans -}}
    </twig:Button>
</div>
