{% extends 'base.html.twig' %}

{% set title = 'surf_session.edit.label'|trans %}

{% block body %}
    <twig:Heading1 :title="title" />

    <twig:SurfSession:Form :form="form" button_label="update.label" />
    <twig:SurfSession:Form:Delete :surf_session="surf_session" />

    <div class="mt-4">
        <twig:Button:Back href="{{ path('app.surf_session.index') }}" />
    </div>
{% endblock %}
