{% extends 'base.html.twig' %}

{% set title = 'surf_sessions.label'|trans %}

{% block body %}
    <div class="app-page-header">
        <twig:Heading1 :title="title" />
        <twig:Button:New href="{{ path('app.surf_session.new') }}" />
    </div>

    <twig:SurfSession:Form:Search :form="form" />

    {% block surf_session_results %}
        <twig:Turbo:Frame id="{{ constant('App\\Turbo\\Frame\\SurfSessionFrameId::RESULTS') }}">
            <twig:ResultsCount :count="pager.nbResults" />

            {% if pager.nbResults > 0 %}
                <div class="app-grid-cards">
                    {{ include('surf_session/_page_content.html.twig', {pager: pager}) }}
                </div>
            {% endif %}
        </twig:Turbo:Frame>
    {% endblock %}
{% endblock %}
