{# @block content The card content, typically includes `Card:Header`, `Card:Content`, and/or `Card:Footer` #}
<div
    class="{{ ('app-card ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes.without('class') }}
>
    {%- block content %}{% endblock -%}
</div>
