{# @block content The default block #}
<div class="app-table-wrapper">
    <table
        class="{{ 'app-table ' ~ attributes.render('class')|tailwind_merge }}"
        {{ attributes }}
    >
        {%- block content %}{% endblock -%}
    </table>
</div>
