{# @prop id string Unique identifier for the tooltip #}
{# @prop delayDuration number Delay in milliseconds before showing the tooltip. Defaults to `0` #}
{# @block content The tooltip structure, typically includes `Tooltip:Trigger` and `Tooltip:Content` #}
{%- props id, delayDuration = 0 -%}
{%- set tooltip_id = id -%}
{%- set tooltip_trigger_id = id ~ '_trigger' -%}
{%- set tooltip_wrapper_id = id ~ '_wrapper' -%}
{%- set tooltip_content_id = id ~ '_content' -%}
{%- set tooltip_arrow_id = id ~ '_arrow' -%}
{%- set tooltip_delay_duration = delayDuration -%}
{%- do provide('tooltip.triggerId', tooltip_trigger_id) -%}
{%- do provide('tooltip.wrapperId', tooltip_wrapper_id) -%}
{%- do provide('tooltip.contentId', tooltip_content_id) -%}
{%- do provide('tooltip.arrowId', tooltip_arrow_id) -%}
<div
    class="{{ ('relative inline-block ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({
        id: tooltip_id,
        'data-slot': 'tooltip',
        'data-controller': 'tooltip',
        'data-tooltip-delay-duration-value': tooltip_delay_duration,
        'data-tooltip-wrapper-selector-value': '#' ~ tooltip_wrapper_id,
        'data-tooltip-content-selector-value': '#' ~ tooltip_content_id,
        'data-tooltip-arrow-selector-value': '#' ~ tooltip_arrow_id,
    }) }}
>
    {%- block content %}{% endblock -%}
</div>
