{# @block content The descriptive text of the card #}
<div
    class="{{ ('app-card-description ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
