{# @block content The footer area, typically contains actions or additional information #}
<div
    class="{{ ('app-card-footer ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
