<div class="mb-4">
    <twig:Calendar:Link
        :href="link.google"
        icon="logos:google-calendar"
        label="calendar.google.label"
        title="calendar.google.help"
    />
    <twig:Calendar:Link
        :href="link.webOutlook"
        icon="vscode-icons:file-type-outlook"
        label="calendar.web_outlook.label"
        title="calendar.web_outlook.help"
    />
    <twig:Calendar:Link
        :href="link.webOffice"
        icon="vscode-icons:file-type-outlook"
        label="calendar.web_office.label"
        title="calendar.web_office.help"
    />
    <twig:Calendar:Link
        :href="link.ics"
        icon="lucide:calendar"
        label="calendar.ical.label"
        title="calendar.ical.help"
    />
</div>
